.centered-assembler {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.active-line {
    position: absolute;
    z-index: 20;
    background-color: hsl(212, 90%, 16%);
}

.ace_gutter-cell.ace_breakpoint{
    border-radius: 0 20px 20px 0;
    background-color: hsl(212, 90%, 46%);
    color: hsl(212, 10%, 86%);
}

.state {
    margin: 8px 0 12px 0;
}

.controls {
    margin: 4px 0 4px 0;
}

.controls > button {
    width: 60px;
    height: 22px;
    padding: 0 0 2px 0;
    border-radius: 2px;
    outline: none;
    color: white;
    background-color: hsl(10, 90%, 36%);
    border-style: solid;
    border-top-color: hsl(10, 90%, 46%);
    border-top-width: 1px;
    border-bottom-color: hsl(10, 90%, 26%);
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    transition: background-color 120ms;
}

.controls > button:disabled {
    background-color: hsl(10, 90%, 26%);
    border-color: hsl(10, 90%, 26%);
}

.controls > button:hover {
    background-color: hsl(10, 100%, 53%);
    transition: background-color 120ms;
}

.controls > button:hover:disabled {
    background-color: hsl(10, 90%, 26%);
}

.editor-container {
    float: left;
    margin-top: 30px;
    margin-right: 24px;
}

#editor {
    width: 384px;
    height: 640px;
    font-size: 18px;
}

.editor-controls {
    display: inline-block;
    margin-top: 16px;
}

.editor-options {
    margin-top: 80px;
}