<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Chip8 assembler</title>
</head>
<body ng-app="Assembler">
    <div ng-controller="AssemblerController as assemblerController">
        <div id="container">
            <canvas id="can" class="display" width="512" height="256"></canvas>
        </div>

        <div class="controls">
            <button
                ng-click="assemblerController.start()"
                ng-disabled="assemblerController.running"
            >Start</button>

            <button
                ng-click="assemblerController.reset()"

            >Reset</button>

            <button
                ng-click="assemblerController.step()"
                ng-disabled="assemblerController.running"
            >Step</button>
        </div>

        <div class="state mono">
            <table>
                <tr><td>PC:</td><td>{{assemblerController.state.programCounter}}</td></tr>
                <tr><td>SP:</td><td>{{assemblerController.state.stackPointer}}</td></tr>
                <tr><td>I:</td><td>{{assemblerController.state.I}}</td></tr>
                <tr><td>Registers:</td><td>{{assemblerController.state.registers}}</td></tr>
                <tr><td>Stack:</td><td>{{assemblerController.state.stack}}</td></tr>
            </table>
        </div>

        <div id="editor"></div>

        <div class="status mono">Status: {{assemblerController.assemblerStatus}}</div>
    </div>

    <script src="../lib/ace/ace.js"></script>
    <script src="../lib/ace/theme-monokai.js"></script>

    <script src="../lib/angular.min.js"></script>

    <script src="chip8.js"></script>
    <script src="keyboard.js"></script>
    <script src="renderer.js"></script>
    <script src="assembler.js"></script>

    <script src="common.js"></script>
    <script src="main-assembler.js"></script>
</body>
</html>