body {
    background-color: hsl(79, 15%, 7%); /*#131411;*/
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.title {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 16px;
}

.display {
    border: 1px solid white;
    width: 512px;
    height: 256px;
    image-rendering: pixelated;
    margin-right: 16px;
}

#editor {
    width: 512px;
    height: 256px;
    font-size: 18px;
}

.mono {
    font-family: Consolas, Inconsolanta, "Lucida Console", Monaco, monospace;
}

.centered-main {
    width: 790px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.key {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    outline: none;
    color: white;
    background-color: hsl(212, 90%, 36%);
    font-family: "Coda", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-size: 18px;
    border-style: solid;
    border-top-color: hsl(212, 90%, 46%);
    border-top-width: 1px;
    border-bottom-color: hsl(212, 90%, 26%);
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    transition: background-color 120ms;
}

.key:hover {
    background-color: hsl(212, 100%, 53%);
    transition: background-color 120ms;
}

.keyboard {
    display: inline-block;
}

.editor-container {
    display: inline-block;
    float: left;
    margin-top: 64px;
    max-width: 512px;
}

.editor-controls {
    display: inline-block;
    margin-left: 22px;
    margin-top: 62px;
}

.controls {
    margin: 4px 0 4px 0;
}

.controls > button {
    width: 60px;
    height: 22px;
    padding: 0 0 2px 0;
    border-radius: 2px;
    outline: none;
    color: white;
    background-color: hsl(10, 90%, 36%);
    border-style: solid;
    border-top-color: hsl(10, 90%, 46%);
    border-top-width: 1px;
    border-bottom-color: hsl(10, 90%, 26%);
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    transition: background-color 120ms;
}

.controls > button:disabled {
    background-color: hsl(10, 90%, 26%);
    border-color: hsl(10, 90%, 26%);
}

.controls > button:hover {
    background-color: hsl(10, 100%, 53%);
    transition: background-color 120ms;
}

.controls > button:hover:disabled {
    background-color: hsl(10, 90%, 26%);
}

.state {
    margin: 8px 0 12px 0;
}

td {
    padding-left: 0;
}

.status {
    margin-top: 4px;
    overflow: auto;
}

.drop-menu {
    background-color: hsl(10, 90%, 36%);
    border-radius: 2px;
    color: white;
    width: 100px;
    border: none;
    padding: 4px;
    margin-top: 10px;
    outline: none;
    transition: background-color 120ms;
}

.drop-menu:hover {
    background-color: hsl(10, 100%, 53%);
    transition: background-color 120ms;
}